
#someSpace {
    width: 100%;
    height: 5em;
    align-content: center;
}
#screen {
    color: black;
    width: 65%;
    height: 3em;
    font-size: 2.0em;
    text-align: right;
    margin-left: 17.5%;
    background-color: #add9ea;
    border-style: none;
    box-shadow: 7px 5px 20px grey;
}
#digitOutput {
    height: 1em;
    font-family: Arial , cursive;
    font-size: 2em;
    letter-spacing: 3px;
    text-align: right;
}
#btnArea {
    display: inline-block;
    width: 70%;
    margin-left: 15%;
    text-align: center;
}
.calcButtons {
    background-color: #2d70ef;
    width: 20%;
    height: 5em;
    margin: 2%;
    color: white;
    font-size: 1.2em;
    border-style: none;
    box-shadow: 7px 5px 20px grey;
}
.calcActions {
    background-color: #ed4821;
    
}
